.contact {
  display: flex;
  flex-direction: column;
}

.contact-description,
.contact-call-to-action,
.social-icon,
.cv {
 color: white;
 font-size: 24px;
 font-weight: 600;
}

.social-icon {
font-size: 40px;
}
.contact-title {
  color: rgba(148, 179, 147, 1);
}

.contact-background {
  background-color: rgba(0, 0, 0, 0.6);
  padding: 20px;
  border-radius: 70px 20px;
  
}

.socials-container {
  display: flex;
  justify-content: space-around;
}

@media (max-width: 768px) {
 .contact-description,
 .contact-call-to-action,
 .cv {
  font-size: 1em;
 }
}

@media (max-width: 768px) {
  .contact-background {
    margin: 10px;
   }
 }
